{
  "presets": [
    ["@babel/preset-env", { "modules": false, "targets": { "node": "current" } }],
    "@vue/babel-preset-jsx",
    "@vue/cli-plugin-babel/preset"
  ],
  "plugins": ["@vue/babel-plugin-jsx", "@babel/plugin-transform-runtime"],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", { "modules": false, "targets": { "node": "current" } }]]
    }
  }
}