@import "src/asset/scss/base.scss";
@media only screen and (max-width: 1023px) {
  .wechat-qrcode-wrap{
    padding: 0 !important;
    .wechat-qrcode{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: r(14);
      font-weight: 500;
      color: rgba(0,0,0,0.85);
      line-height: r(20);
      padding: r(12) r(16) 0;
      .wechat-title{
        margin-right: r(12);
      }
      .account{
        color: $mainColor;
        margin-right: r(4);
      }
      .account-copy{
        color: $mainColor;
      }
      .qrcode-img{
        position: relative;
        display: flex;
        align-items: center;
      }
    }
    .wechat-qrcode-tips{
      display: flex;
      align-items: center;
      font-size: r(12);
      color: rgba(0,0,0,0.45);
      line-height: r(17);
      padding: r(8) r(16);
      .icon-wechat{
        width: r(16);
        height: r(16);
        margin-right: r(4);
        background-image: url('src/asset/images/wap/contact-wechat.png');
        background-size: 100%;
      }
    }
    .gray-line{
      height: r(12);
      background-color: #F3F3F3;
    }
    ::v-deep .el-dialog{
      width: 90%;
      .el-dialog__header, .el-dialog__body{
        padding: 0;
        .el-dialog__headerbtn{
          font-size: r(22);
          z-index: 9;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  ::v-deep .el-dialog{
    display: none;
  }
  .wechat-qrcode-wrap{
    .wechat-qrcode{
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      color: rgba(0,0,0,0.85);
      line-height: 20px;
      .account{
        color: $mainColor;
        margin-right: 4px;
      }
      .account-copy{
        display: none;
      }
      .qrcode-img{
        position: relative;
        display: flex;
        align-items: center;
        &:hover{
          .gp-qrcode-wrap{
            visibility: visible;
            opacity: 1;
            transform: translateY(0.6em);
          }
        }
        .icon-qrcode{
          width: 16px;
          height: 16px;
          background-image: url('src/asset/images/wap/icon-qrcode.png');
          background-size: 100%;
          margin-left: 6px;
        }
        .gp-qrcode-wrap{
          visibility: hidden;
          position: absolute;
          top: 18px;
          left: -48px;
          padding: 4px;
          box-shadow: 0 2px 24px 0 rgba(200,201,204,0.5);
          z-index: 2;
          opacity: 0;
          transition: all 0.4s cubic-bezier(0.73, 0.005, 0.22, 1);
          background-color: #fff;
          .gp-qrcode{
            display: block;
            width: 120px;
            height: 120px;
            background-image: url('src/asset/images/wap/gshopper888.png');
            background-size: 100%;
          }
          &:hover{
            visibility: visible;
            opacity: 1;
            transform: translateY(0.6em);
          }
        }
      }
    }
    .wechat-qrcode-tips{
      display: flex;
      align-items: center;
      font-size: 12px;
      color: rgba(0,0,0,0.45);
      line-height: 17px;
      margin-top: 6px;
      .icon-wechat{
        width: 16px;
        height: 16px;
        margin-right: 4px;
        background-image: url('src/asset/images/wap/contact-wechat.png');
        background-size: 100%;
      }
    }
  }
}