/** 2018/4/17
*Author: ZhangNan
*Describe: 主题样式
*/

// 颜色定义规范
$icon-background: #FFB597;
$bg-color: #F5F5F5;
$color-sub-text: #282828;
$color-text: #666666;
$color-active: #FF5224;
//字体定义规范
$font-size-small: 12px;
$font-size-medium: 14px;
$h-font-family: HelveticaNeue;
$r-font-family: Roboto-Bold;
$rb-font-family: Roboto-Black;

