@use "sass:math";
@import "g-ui/src/style/src/base.scss";

$--color-primary: #FF5224;
$--color-white: #fff;

$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* a0cfff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* a0cfff */

$--text-color: #1f2f3d;
$--text-color-5: mix($--color-white, $--color-primary, 50%) !default;
